<!DOCTYPE html>
<html>
<head>
    <title>Create Order</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        form {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>

<form method="post">
    {% csrf_token %}
    <h2>Create Order</h2>

    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date" value="{{ today|date:'Y-m-d' }}">
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" value="{{ default_end_date }}">
    <br>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Count</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <input type="checkbox" name="products[]" value="{{ product.Product_name }}" {% if product.selected %}checked{% endif %}>
                        {{ product.Product_name }}
                    </td>
                    <td>{{ product.count }}</td>
                    <td>
                        <input type="number" name="{{ product.Product_name }}_quantity" id="{{ product.Product_name }}_quantity" min="0" max="{{ product.count }}" value="{{ product.quantity }}">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <br>
    <label for="orderer_name">Orderer Name:</label>
    <input type="text" name="orderer_name" id="orderer_name">
    <br>
    <br>
    <label for="phone_number">Phone Number:</label>
    <input type="text" name="phone_number" id="phone_number">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
</html>
