<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.Product_name }}</td>
                        <td> {{ product.count }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   
    </form>
</body>
</html>
